<nav>
  <h2>menus</h2>
  <ul>
    <% if current_user.present? %>
      <li><%= link_to 'My profile', profile_path(current_user.id) %></li>
      <li><%= link_to "My follows", follow_path(current_user.id) %></li>
      <li><%= link_to "My followers", follower_path(current_user.id) %></li>
      <li><%= link_to "My wordbooks", user_word_path(current_user.id) %></li>
      <li><%= link_to "My bookmarks", likes_path(current_user.id) %></li>
    <% else %>
      <li><%= link_to "My profile", sign_in_path %></li>
      <li><%= link_to "My follows", sign_in_path %></li>
      <li><%= link_to "My followers", sign_in_path %></li>
      <li><%= link_to "My wordbooks", sign_in_path %></li>
      <li><%= link_to "My bookmarks", sign_in_path %></li>
    <% end %>
  </ul>
</nav>