<nav>
  <h2>menus</h2>
  <ul>
    <% if current_user.present? %>
      <li><%= link_to 'My profile', profile_path(current_user.id) %></li>
      <li><%= link_to "My follows", follow_path(current_user.id) %></li>
      <li><%= link_to "My followers", follower_path(current_user.id) %></li>
      <li><%= link_to "My wordbooks", user_word_path(current_user.id) %></li>
      <li><%= link_to "My bookmarks", likes_path(current_user.id) %></li>
    <% else %>
      <a href="#"><li>My follows</li></a>
      <a href="#"><li>My follows</li></a>
      <a href="#"><li>My followers</li></a>
      <a href="#"><li>My wordbooks</li></a>
      <a href="#"><li>My bookmarks</li></a>
    <% end %>
  </ul>
</nav>