<% @user.errors.full_messages.each do |message| %>
    <div class="danger"><%= message %></div>
<% end %>
<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
  <div class="change_profile">
    <h1>【change your profiles】</h1>
    <%= form_with url: profile_edit_path, method: :post, local: true do |f| %>
        <div class="form_field">  
            <%= f.label :name %>
            <%= f.text_field :name, value:"#{@user.name}" %>
        </div>
        <div class="form_field">
            <%= f.label :original_name, 'user_ID' %>
            <%= f.text_field :original_name, value:"#{@user.original_name}" %>
        </div>
        <div class="form_field">
            <%= f.label :image %>
            <%= f.file_field :image %>
        </div>
        <div class="form_field">
            <%= f.label :profile, 'profile' %>
            <%= f.text_area :profile, value:"#{@user.profile}" %> 
        </div>
        <%= f.submit "send" %>
    <% end %>
    </div>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>