<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
    <% @followers.each do |follower| %>
      <div class="contents">
        <%= image_tag image_url(User.find(follower.follow_user_id)) %>
        <div class="content">
          <h1>name:<%= User.find(follower.user_id).name %></h1>
          <p>User_ID:<%= User.find(follower.user_id).original_name %></p>
          <p>wordbooks:<%= Title.where(user_id: follower.user_id).length %></p>
          <p>followers:<%= Follow.where(follow_user_id: follower.user_id).length %></p>
          <%= link_to unfollow_path(follower.id) do %>
            <button class="unfollow">unfollow</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>