<% @user.errors.full_messages.each do |message| %>
  <div class="danger"><%= message %></div>
<% end %>
<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
    <div class="change_important">
      <h1>【change your password】</h1>
      <%= form_with url: important_path, local: true do |f| %>
          <div class="form_field">
            <%= f.label :current_password, "fill in the current password" %>
            <%= f.password_field :current_password %>
          </div>
          <div class="form_field">
            <%= f.label :password, "fill in your new password" %>
            <%= f.password_field :password %>
          </div>
          <div class="form_field">
            <%= f.label :password_confirmation, "new password again" %>
            <%= f.password_field :password_confirmation %>
          </div>
          <%= f.submit "send" %>
      <% end %>
    </div>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>