<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
    <div class="profile">
        <%= image_tag image_url(@user) %>
        <table>
            <tr>
                <th>name:</th>
                <td>　<a href="#"><%= @user.name %></a></td>
            </tr>
            <tr>
                <th>user_ID:</th>
                <td>　<a href="#"><%= @user.original_name %></a></td>
            </tr>
            <tr> 
                <th>wordbooks:</th>
                <td>　<a href="#">10個</a></td>
            </tr>
            <tr>
                <th>follows:</th>
                <td>　<a href="#">10人</a></td>
            </tr>
            <tr>
                <th>followers:</th>
                <td>　<a href="#">10人</a></td>
            </tr>
        </table>
        <div class="btn">
            <a href="#"><button class="btn_a">follow</button></a>
            <a href="#"><button class="btn_a">go to wordbooks</button></a>
        </div>
        <p>サンプルプロフィールです。</p>
    </div>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>