<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
    <div class="profile">
        <%= image_tag image_url(@user) %>
        <% if current_user.present? %>
          <% if @user.id == current_user.id %>
            <%= link_to profile_edit_path do %>
              <button class="edit_btn">edit</button>
            <% end %>  
          <% end %>
        <% end %>
        <table>
            <tr>
                <th>name:</th>
                <td>　<a href="#"><%= @user.name %></td>
            </tr>
            <tr>
                <th>user_ID:</th>
                <td>　<%= @user.original_name %></td>
            </tr>
            <tr> 
                <th>wordbooks:</th>
                <td>　<%= @title %>個</td>
            </tr>
            <tr>
                <th>follows:</th>
                <td>　<%= @follow %>人</td>
            </tr>
            <tr>
                <th>followers:</th>
                <td>　<%= @follower %>人</td>
            </tr>
        </table>
        <div class="btn">
          <% if current_user.present? %>
            <%= link_to follow_process_path(current_user.id) do %>
              <button class="btn_a">follow</button>
            <% end %>
          <% end %>
          <%= link_to user_word_path(@user.id) do %>
            <button class="btn_a">go to wordbooks</button>
          <% end %>
        </div>
        <p><%= @user.profile %></p>
    </div>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>