<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
    <div class="user_research">
      <form>
        <p>fill in user name or user_ID</p>
        <input type="text" name="word">
        <input type="submit" value='research now' class="button_to">
      </form>
    </div>
    <% @users.each do |user| %>
      <div class="contents">
        <%= image_tag image_url(user) %>
        <div class="content">
          <%= link_to profile_path(user.id) do %>
            <h1>name:<%= user.name %></h1>
          <% end %>
          <p>User_ID:<%= user.original_name %></p>
          <p>wordbooks:<%= Title.where(id: user.id).length %></p>
          <p>followers:<%= Follow.where(follow_user_id: user.id).length %></p>
          <% if current_user.present? %>
            <% if Follow.exists?(user_id: current_user.id, follow_user_id: user.id) %>
              <%= link_to unfollow_path(Follow.find_by(user_id: current_user.id, follow_user_id: user.id)) do %>
                <button class="unfollow">unfollow</button>
              <% end %>
            <% else %>
              <%= link_to follow_process_path(user.id) do %>
                <button>follow</button>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= paginate @users %>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>