<% flash.each do |type, message| %>
    <div class="<%= type %>"><p><%= message %></p></div>
<% end %>
<div class="sign_up_box">
    <h1>新規登録する</h1>
    <%= form_with url: sign_up_path do |f| %>
        <div class="form_field">
            <%= f.label "what's your name?" %>
            <%= f.text_field :name %>
        </div>
        <div class="form_field">
            <%= f.label "make your original_ID" %>
            <%= f.text_field :original_name, placeholder:"sample1234" %>
        </div>
        <div class="form_field">
            <%= f.label "make your password" %>
            <%= f.password_field :password %>
        </div>
        <div class="form_field">
            <%= f.label "password again" %>
            <%= f.password_field :password_confirmation %>
        </div>
        <%= f.submit "新規登録" %>
    <% end %>
</div>