<% flash.each do |type, message| %>
  <div class="alert <%= type %>"><%= message %></div>
<% end %>
<div class="display_flex">
  <%= render partial: 'left_nav' %>
  <article>
    <div class="contents">
      <%= image_tag '/user_images/ぬこ.jpg' %>
      <div class="content">
        <h1>title:<a href="#">サンプルタイトル</a></h1>
        <p>category:<a href="#">サンプルカテゴリー</a></p>
        <p>made by:<a href="#">サンプルマン</a></p>
        <p>created:2020/6/1,13:21</p>
      </div>
    </div>
    <div class="contents">
      <%= image_tag '/user_images/ぬこ.jpg' %>
      <div class="content">
        <h1>title:<a href="#">サンプルタイトル</a></h1>
        <p>category:<a href="#">サンプルカテゴリー</a></p>
        <p>made by:<a href="#">サンプルマン</a></p>
        <p>created:2020/6/1,13:21</p>
      </div>
    </div>
  </article>
  <%= render partial: 'right_aside' %>
</div>