<% flash.each do |type, message| %>
    <div class="<%= type %>"><%= message %></div>
<% end %>
<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
    <h1>【add a word】</h1>
    <p class="to_title">to <%= link_to "#{@title.name}", list_path(@title.id) %></p>
    <div class="add_word">
      <%= form_with model: @vocabulary, url: add_path, local: true do |f| %>
        <%= f.hidden_field :title_id, :value => @title.id %>
        <div class="display_flex">
          <div class="form_field">  
            <%= f.label :word %>
            <%= f.text_field :word %>
          </div>
          <div class="form_field">
          <% #改行入れる %>
            <%= f.label :meaning %>
            <%= f.text_field :meaning %>
          </div>
        </div>
        <%= f.submit "regist" %>
      <% end %>
    </div>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>