<% flash.each do |type, message| %>
  <div class="alert <%= type %>"><%= message %></div>
<% end %>
<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
    <div class="meta_data">
      <h1>【<%= @title.name %>】</h1>
      <%= link_to bookmark_path(@title.id) do %>
        <button class="<% if Bookmark.exists?(title_id: @title.id) %>pink<% end %>">BM</button>
      <% end %>
      <div class="display_flex">
        <p>made by: <%= link_to "#{User.find(@title.user_id).name}", profile_path(@title.user_id) %></p>
        <p>category: <%= Category.find(@title.category_id).name %></p>
      </div>
    </div>
    <div class="top_buttons">
      <button class="hide">En hide/unhide</button>
      <button class="hide">Ja hide/unhide</button>
    </div>
    <% @vocabulary.each do |vocabulary| %>
      <div class="word_list">
        <div class="en_word">
          <% splice_word(vocabulary.word).each do |word| %>
            <p><%= word %></p>
          <% end %>
        </div>
        <p><%= vocabulary.meaning %></p>
        <div class="btns">
          <%= link_to edit_path(vocabulary.id) do %>
            <button class="edit_btn">edit</button>
          <% end %>
          <%= link_to delete_path(vocabulary.id) do %>
            <button class="del_btn">delete</button>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="update_wordbook">
      <p>wordbook updates</p>
      <%= link_to add_path(@title.id) do %>
        <button class="add_btn">add word</button>
      <% end %>
      <% if current_user.present? %>
        <% if @title.user_id == current_user.id %>
          <div class="edit_wordbooks">
            <%= link_to edit_wordbook_path(@title.id) do %>
              <button>edit</button>
            <% end %>
            <%= link_to destroy_wordbook_path(@title.id) do %>
              <button>delete</button>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>