<div class="display_flex">
  <%= render partial: 'users/left_nav' %>
  <article>
    <div class="word_research">
      <form>
        <p>fill in your own word search</p>
        <input type="text" name="word">
        <div class="form_field">
          <label>category</select>
          <select name="category">
            <% @category.each do |category| %>
              <option value="<%= category.id %>"><%= category.name %></option>
            <% end %>
          </select>
        </div>
        <div class="form_field">
          <label>order_by</select>
          <select name="turn">
            <option value="0">指定なし</option>
            <option value="1">bookmarkが多い順</option>
            <option value="2">最新の投稿</option>
          </select>
        </div>
        <input type="submit" value='research now' class="button_to">
      </form>
    </div>
    <%# いいねが多い順の時 %>
    <% if @bookmarks.present? %>
      <%# 検索ワードが入っている時 %>
      <% if params[:word].present? %>
        <% @bookmarks.each do |titles| %>
          <% title = Title.find(titles[0]) %>
          <% if title.category_id == params[:category].to_i %>
            <% if title.name.to_s.include?(params[:word]) %>
              <div class="contents">
                <%= image_tag image_url(User.find(title.user_id)) %>
                <div class="wordbook">
                  <h1>title:<%= link_to "#{title.name}", list_path(title.id) %></h1>
                  <p>category:<%= Category.find(title.category_id).name %></p>
                  <p>made by:<%= User.find(title.user_id).name %></p>
                  <p>created:<%= title.created_at %></p>
                  <p class="display_right"><%= titles[1] %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %> 
      <% else %>
      <%# 検索ワードが入っていない時 %>
        <% @bookmarks.each do |titles| %>
          <% title = Title.find(titles[0]) %>
          <% if title.category_id == params[:category].to_i %>
            <div class="contents">
              <%= image_tag image_url(User.find(title.user_id)) %>
              <div class="wordbook">
                <h1>title:<%= link_to "#{title.name}", list_path(title.id) %></h1>
                <p>category:<%= Category.find(title.category_id).name %></p>
                <p>made by:<%= User.find(title.user_id).name %></p>
                <p>created:<%= title.created_at %></p>
                <p class="display_right"><%= titles[1] %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%# いいねが多い順以外 %>
      <% @titles.each do |title| %>
        <div class="contents">
        <%= image_tag image_url(User.find(title.user_id)) %>
          <div class="wordbook">
            <h1>title:<%= link_to "#{title.name}", list_path(title.id) %></h1>
            <p>category:<%= Category.find(title.category_id).name %></p>
            <p>made by:<%= User.find(title.user_id).name %></p>
            <p>created:<%= title.created_at %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </article>
  <%= render partial: 'users/right_aside' %>
</div>