<!DOCTYPE html>
<html>
  <head>
    <title>Wordbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main_content">
    <header>
      <div class="logo">
        <h1>Our,wordbook</h1>
        <p>単語帳共有サービス</p>
      </div>
      <a href="#">
        <div class="btn">単語帳を作る</div>
      </a>
      <% if current_user.present? %>
        <div class="current_user">
          <p>user: <%= current_user.name %>さん</p>
        </div>
      <% end %>
      <ul>
        <li><a href="#">ログイン</a></li>
        <li><a href="#">新規登録</a></li>
        <% if current_user.present? %>
          <li><%= link_to 'サインアウト', sign_out_path %></li>
        <% end %>
      </ul>
    </header>
    
    <%= yield %>

    <footer>
      <ul>
        <a href="#"><li>Our,wordbookについて</li></a>
        <a href="#"><li>運営者情報</li></a>
        <a href="#"><li>プライバシーポリシー</li></a>
        <a href="#"><li>免除事項</li></a>
      </ul>
    </footer>
    </div>
  </body>
</html>
