<!DOCTYPE html>
<html>
  <head>
    <title>Wordbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main_content">
    <header>
      <div class="logo">
        <h1><%= link_to "Our,wordbook", top_path %></h1>
        <p>単語帳共有サービス</p>
      </div>
      <a href="#">
        <%= link_to create_path do %>
          <div class="btn">単語帳を作る</div>
        <% end %>
      </a>
      <% if current_user.present? %>
        <div class="current_user">
          <p>user: <%= current_user.name %>さん</p>
        </div>
      <% end %>
      <ul>
        <% if current_user.present? %>
          <li><%= link_to 'パスワード変更', important_path %></li>
          <li><%= link_to 'サインアウト', sign_out_path %></li>
        <% else %>
          <li><%= link_to 'ログイン', sign_in_path %></li>
          <li><%= link_to '新規登録', sign_up_path %></li>
        <% end %>
      </ul>
    </header>
    
    <%= yield %>

    <footer>
      <ul>
        <a href="#"><li>Our,wordbookについて</li></a>
        <a href="#"><li>運営者情報</li></a>
        <a href="#"><li>プライバシーポリシー</li></a>
        <a href="#"><li>免除事項</li></a>
      </ul>
    </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
    $(function() {
      setTimeout(function() {
        $('.alert').slideUp(1000)
      }, 2000);
    });

    $(function() {
      $('.en_hide').on('click', function() {
        $('.en_word').toggleClass('clear_text')
      });
    });

    $(function() {
      $('.ja_hide').click(function() {
        $('.ja_word').toggleClass('clear_text')
      });
    });
    </script>
  </body>
</html>
